/* グルーバルメニューにも影響が出ているため、設定変更 */
/* * {
    margin: 10px;
} */

h3 {
    background-color: mediumaquamarine;
    color: mediumvioletred;
    padding: 10px;
    text-align: center;

}

.header {
    background-image: url("../img/koza.jpg");
    background-size: cover;
    height: 700px;
    width: 100%;
}

.header h1 {
    font-size: 60px;
    font-weight: bolder;
    color: azure;
    text-align: center;
    padding-top: 120px;
    font-family: "comic sans MS";
}

.main {
    background-color: rgba(241, 176, 12, 0.4);
    width: 98%;
    height: 100%;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 20px;
    margin-bottom: 100px;
    /* display: flex; */
}

.m-container {
    width: 300px;
    height: 360px;
    /* flex-wrap: wrap; */
    margin: 5px;
    border: black 1px solid;
    background-color: antiquewhite;
    box-shadow: inset;
}

.m-container p {
    padding-right: 10px;
    padding-left: 10px;
    height: 140px;
}

.m-container img {
    padding: 10px;
    size: auto;
    height: 120px;
    width: 120px;
}

footer img .favi {
    float: left;
    margin-right: 20px;
}

/* 口コミ投稿フォーム作成 */
.add-form {
    border: black 2px solid;
    background-color: rgba(181, 241, 238, 0.7);
    width: 300px;
    height: 400px
}

.add-form p {
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
}

.f-submit input .submit {
    /* margin-top: 2px; */
    height: 30%;
    font-size: 15px;
    width: 40%;
    /* margin-right: 20px; */
}

/* 口コミの星の実装 */
.evaluation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.evaluation input[type='radio'] {
    display: none;
}

.evaluation label {
    position: relative;
    padding: 10px 10px 0;
    color: gray;
    cursor: pointer;
    font-size: 50px;
}

.evaluation label .text {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    color: gray;
}

.evaluation label:hover,
.evaluation label:hover~label,
.evaluation input[type='radio']:checked~label {
    color: #ffcc00;
}
form {
    width: 90%;
    height: 20px;
    padding: 2px 5%;
}




img.nakata_syasin{
    width: 30%;
    height: 30%;
  
 }
/* ------口コミの星の実装終了------ */
/* -------地図の埋め込み-------- */
#sample {
    width: 700px;
    height: 400px;
}