/* リセットおまじない--------------------------------- */

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dl,
dt,
dd {
    margin: 0px;
    padding: 0px;
}

body {
    background: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    min-width: 100%;
    -webkit-text-size-adjust: 100%;
}

li {
    list-style: none;
}

a {
    outline: none;
    color: inherit;
    text-decoration: none;
}

img {
    border: 0px;
}

/* --------------------------------------------------- */
header{
    height: 40px;
    width: 100%;
    background-color: lightgray;
}
footer{
    height: 100px;
    width: 100%;
    background-color: lightgray;
}
.container{
    width: 87%;
    padding: 50px 0;
}