header{
    height: 40px;
    width: 100%;
    background-color: lightgray;
}
footer{
    height: 100px;
    width: 100%;
    background-color: lightgray;
}
.container{
    width: 87%;
    padding: 50px 0;
}